* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.6s; /* Smooth color transition */
}

header,
footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  text-align: center;
  margin: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
